@keyframes slowlyAppear {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes showUserView {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes slideUpModal{
    0%{opacity: 0; transform: translateY(5rem); scale: 0.5;}
    50%{opacity: 0.5; transform: translateY(-7rem);scale: 0.7;}
    100%{opacity: 1; transform: translateY(0rem);scale: 1;}
}

@keyframes titleSlideUp{
  0%{
    opacity: 0;
    transform: translateY(-2rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0rem);
  }
}