.card{
    width: 42%;
    background-color: rgba(211, 211, 211, 0.6);
    border-radius: 10px;
    margin-bottom: 10vh;
    margin-left: 0px;

}

.card div{
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
}

.card p{
    text-align: justify;
}

.card h2{
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 0px;
}

.card h4{
    padding-bottom: 1vh;
}