@import "../../../css/animations.css";

.title-projectModal{
    user-select: none;
    animation-name: titleSlideUp;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

.projectModal-fullscreenBackground{
    position: absolute;
    z-index: 21;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: #000000c0;
    width: 100vw;
    height: 100vh;
    animation-name: slowlyAppear;
    animation-duration: 1.2s;
    -webkit-animation-iteration-count: 1;
}

.projectModal-formContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 8px;
}

.projectModal-inputsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 8px;
}

.animationSlideUp{
    animation: slideUpModal;
    animation-duration: 700ms;   
    -webkit-animation-iteration-count: 1;
}

.animationSlideDown{
    animation: slideDownModal;
    animation-duration: 700ms;   
    -webkit-animation-iteration-count: 1;
}

.projectModal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.projectModal-menuContainer{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    width: 100%;
    justify-content: space-between;
    /* background-color: #2289E6; */
    padding: .5rem;
    transition: 100ms ease;
}

.projectModal-submitBtn{
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    font-weight: 600;
    letter-spacing: .05rem;
    border-radius: 20px;
    font-size: 1rem;
    padding: .5rem 1rem;
    background-color: #F1A008;
    color: black;
    transition: all 100ms ease;
}

.projectModal-submitBtn:hover{
    border-radius: 5px;
    background-color: #6206BF;
    color: white;
}



.projectModal-formCloseBtn{
    user-select: none;
    border: none;
    outline: none;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background-color:#F1A008;     
    transition: all 100ms ease;
}

.projectModal-formCloseBtn:hover{
    border-radius: 5px;
    background-color: #6206BF;
    color: white;
}

.show{
    display: flex;
    opacity: 1;
}

.hide{
    display: none;
    opacity: 0;
}
