.avatarProviderSelector-container{
    display: flex;
   
    justify-content:right;
    align-items: center;
   
    gap: 3rem;
}

input[type=radio]
{   
    /* border: 1px solid red; */
    cursor: pointer;
    /* position: absolute; */
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    /* -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;  */
    outline: 0;
    font-size: 1.5rem;
}