input[type=text]
{   
    font-size: 1rem;
    margin-top: .1rem;
    width: 20rem;
    padding-left: 1rem;
}

input:focus[type=text]
{    
    color: black;
    font-weight: 500;
    background-color: white;
}
