@import "../../../css/animations.css";

.title-userModal{
    user-select: none;
    animation-name: titleSlideUp;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

.userModal-fullscreenBackground{
    position: absolute;
    z-index: 3;
    display: none;
    align-items: center; 
    transform: translateY(50%);
    justify-content: center;
    flex-direction: column; 
    background-color: #6d8c6fa7;
    width: 100vw;
    height: 100vh;
    animation-name: slowlyAppear;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

.userModal-formContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 8px;
}

.userModal-inputsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 8px;
}

.animationSlideUp{
    animation: slideUpModal;
    animation-duration: 700ms;   
    -webkit-animation-iteration-count: 1;
}

.animationSlideDown{
    animation: slideDownModal;
    animation-duration: 700ms;   
    animation-fill-mode:forwards;
    -webkit-animation-iteration-count: 1;
}

.userModal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.userModal-menuContainer{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    width: 100%;
    justify-content: space-between;
    /* background-color: #2289E6; */
    padding: .5rem;
    transition: 100ms ease;
}

.userModal-submitBtn{
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    padding: .5rem 1rem;
    background-color: #2289E6;
    color: white;
    transition: all 100ms ease;
}

.userModal-submitBtn:hover{
    outline: 2px solid black;
    border-radius: 5px;
    background-color: #B0DBB2;
    color: black;
}

.userModal-formSwitchBtn{
    user-select: none;
    justify-content: right;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    color: black;
    font-size: .8rem;
    background-color: rgba(48, 48, 242, 0);     
    transition: all 100ms ease;
}

.userModal-formSwitchBtn:hover{
    color:#2289E6;
}

.userModal-formCloseBtn{
    user-select: none;
    border: none;
    outline: none;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background-color:#2289E6;     
    transition: all 100ms ease;
}

.userModal-formCloseBtn:hover{
    outline: 2px solid black;
    border-radius: 5px;
    background-color: #B0DBB2;
    color: black;
}

