input[type=text]
{
    font-size: 1rem;
    color: #979797;
    height: 28px;
    padding-left: 10px;
    text-decoration: none;
    
}

input:focus[type=text]
{    
    color: black;
    font-weight: 500;
    background-color: #B0DBB2;
}
