@import '../../css/animations.css';

.project-card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    border-radius: 8px;
    animation-name: slideDown;
    animation-duration: 300ms;
    -webkit-animation-iteration-count: 1;
}

.project-card:hover{
    outline: 3px solid  #6206BF;
    animation-name: slideDown;
    animation-duration: 300ms;
    -webkit-animation-iteration-count: 1;
}

.project-name{
    font-family: roboto;
    font-size: 1.5rem;
}

.project-users, .project-owner{
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.project-list{
    /* transform: translateY(50%); */
    /* height: 100vh; */
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.show{
    display: flex;
    opacity: 1
}

.hide{
    display: none;
    opacity: 0;
}