

#show-space{
    width: 70%;
    margin: 0px 0px 0px 15vw;;
    
}

#card-manager{
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  
}