input[type=text]
{   padding: .5rem 1rem;
    font-family: montserrat;
    font-size: 1rem;
    width: 20rem;
    border-radius: 5px;
    border: none;
    outline: none;

}

input:focus[type=text]
{    
    font-weight: 500;
    background-color: white;
}   