#header {
    display: flex;
    margin-bottom: 3vh;
    background-color: white;
}

#title{
    margin-right: 2.5vw;
}

#info{
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 5vw;
}

#info p{
    text-align: justify;
}