#header {
    display: flex;
    margin-bottom: 3vh;
    background-color: white;
}

#title{
    margin-right: 5vw;
}

#info{
    position: absolute;
    top: 12vh;
    left: 5vw;
    width: 90vw;
}

#info p{
    text-align: justify;
}